<div class="dog-new-page">
  <div class="row w-100 h-100 g-0 d-flex flex-column flex-nowrap" style="border: 1px solid black;">
    <div class="title-container row g-0 flex-shrink-1">
      <div class="col-12 col-md-12" style="border: 1px solid black;">
        <div class="form-title p-1 mx-3 rounded-pill ">
          <p class="fs-3 m-1">Register New Dog</p>
        </div>
      </div>
    </div>
    <div class="dog-form row g-0 h-100" style="border: 1px solid black;">
      <div class="col-12 overflow-scroll h-100" style="border: 1px solid black;">
        <div class=" col-12" style="padding-bottom: 10vh">
          <div class="the-form col-11 mt-2 mx-auto">
            <%= render 'new_form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
