<div class="dog-show-page">
  <div class="row d-flex flex-column flex-nowrap w-100 h-100" style="border: 1px solid black;">
    <div class="title-container row">
      <div class="col-12 col-md-12" style="border: 1px solid black;">
        <div class="dog-title p-1 mx-3 rounded-pill ">
          <p class="fs-3 m-1">Pet Profile</p>
        </div>
      </div>
    </div>
    <div class="show-container row ">
      <div class="col-8 " style="border: 1px solid black;">
        <%= render @dog %>
      </div>
      <div class="col-4 col-md-4 h-100 *" style="border: 1px solid black;">
        <!-- content here -->
      </div>
    </div>
  </div>
</div>


