<div class="dashboard">
  <%= render "home/logo" %>
  <div class="navigation">
    <div class="nav-items">
      DASHBOARD
    </div>
    <div class="nav-items">
      RECORDS
    </div>
    <div class="nav-items">
      SCAN
    </div>
  </div>
</div>


  
