<h1>Editing vet record</h1>

<%= render "form", vet_record: @vet_record %>

<br>

<div>
  <%= link_to "Show this vet record", @vet_record %> |
  <%= link_to "Back to vet records", vet_records_path %>
</div>
