<div class="dataexport-page">
    <div class="col-12 d-flex justify-content-center align-items-center h-100">
        <%= link_to "Download Dog Report PDF", data_export_download_report_path, class: "btn btn-primary" %>
    </div>
</div>