@import "users";


.dog-new-page{
	width: calc(100% - 70px);
	height: calc(100% - 109px);
	float:right;
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    & .form-container{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: min-content 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
          "header header"
          "left right";
        & .form-title{
            grid-area: header;
            color: white;
            background-color: $nav-blue;
            border-radius: 20px;
            padding: 0px 25px;
            margin-left: 50px;
            width: fit-content;
        }
        & .dog-form{
            background-color: transparentize(white, 0.4);
            border: $blue solid;
            border-radius: 40px;
            grid-area: left;
            margin: 25px 25px 25px 50px;
            padding:25px;
            padding-bottom: 50px;
            height: fit-content;
            font-size: 1.5em;

        }
        & .dog-pictures-form{
            grid-area: right;
            background-color: rgb(179, 123, 123);
        }
    }
}
.dog-show-page{
	width: calc(100% - 70px);
	height: calc(100% - 109px);
	float:right;
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    & .title-container{
        height: fit-content;
        & .dog-title{
            background-color: $nav-blue;
            width: fit-content;
            color: white;
        }
    }
    & .show-container{
        height: fit-content;
    }
}