@import "users";


.dog-new-page{
	width: calc(100% - 70px);
	height: calc(100% - 109px);
	float:right;
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    & .title-container{
        height: fit-content;
        & .form-title{
            background-color: $nav-blue;
            width: fit-content;
            color: white;
        }
    }
    & .dog-form{
        & .the-form{
            background-color: white;
            border: $blue solid;
            border-radius: 16px;

            & .image-uploader{
                width: 95.833333333%;
                border: $blue dashed 5px;
                color: $blue;
                background-color: lighten($nav-lblue, 10%);
                height: 40vh;
                & #image-list{
                    overflow-x: scroll;
                    & img{
                        max-width:100%;
                        max-height:100%;
                    }
                }
                & .upload-icon{
                    font-size: 6em;
                }
            }
        }
    }
    & .dog-pictures-form{
        grid-area: right;
        background-color: rgb(179, 123, 123);
    }
}
.dog-show-page{
	width: calc(100% - 70px);
	height: calc(100% - 109px);
	float:right;
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    & .title-container{
        height: fit-content;
        & .dog-title{
            background-color: $nav-blue;
            width: fit-content;
            color: white;
        }
    }
    & .show-container{
        & .dog-data{
            background-color: white;
            border: $blue solid;
            border-radius: 16px;
            & #DogImagesCarousel{
                height: 50vh;
                & .dog-carousel-controller{
                    background-color: transparentize(white, 0.2);
                    width: 10%;
                }
                & img{
                    max-width:100%;
                    max-height:100%;
                    object-fit: contain;
                    border-radius: 16px;
                }
            }
            & .dog-details{
                font-family: Bebas Neue;
            }

        }
    }
}