@import "users";
.admin-approval-page{
	width: calc(100% - 70px);
	height: calc(100% - 109px);
	float:right;
	& .form-container{
		background-color: transparentize(white, 0.4);
		border: $blue solid;
		border-radius: 40px;
        max-width: 500px;
	}
}