@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Chango');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue');
$blue : #4f81bd;
$lightblue: #3fbcef;

html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
	font-family: sans-serif;

}

.logo{
	font-family: Arvo;
	display: inline;
	a{
		display: flex;
		align-items: center;
		color: $blue;
		text-decoration: none;
		width: fit-content;
		-webkit-text-stroke: $lightblue 2px;
		font-size: 37px;
		img{
			width: 111px
		}
	}
}

.flash{
	position: fixed;
	top: 20px;
	right: 20px;
	width: fit-content;
	padding: 10px 20px;
	font-size: 1em;
	border-radius: 16px;
	&.notice{
		background-color: lightgreen;
	}
	&.alert{
		background-color: rgb(244, 128, 128);
	}
	&.login-form{
		position: relative;
		top: 0;
		right: 0;
	}
}
