@import "users";

.inventory_page {
	width: calc(100% - 70px);
	height: calc(100% - 140px);
	float:right;
	position: relative;
    & .inventory-container{
		& .table-container{
			& .flex-table {
				font-family: Oswald;
				// & * {
				// 	outline: auto;
				// }
				& .inventory-row, .header-row {
					border-bottom: 1px solid black;
					border-radius: 16px;
				}
				& .inventory-row {
					background-color: white;
					&:hover {
						background-color: #e1e1e1;
					}
					& .items-container {
						// flex margins of each items
						border : 1px solid black;
						background-color: white;
						border-radius: 16px;
						justify-content: space-evenly;
						& .item {
							border : 3px solid $nav-lblue;
							border-radius: 16px;
						}
						& .new-item{
							background-color: lime;
							border-radius: 16px;
							border-bottom: 2px black solid;
							border-right: 2px black solid;
							&:hover{
								background-color: limegreen;
								cursor: pointer;
								border: 0px;
							}
						}

					}
				}
				& .header-row {
					background-color: $nav-lblue;
				}
				& .header-gap {
					padding-left: 12em;
				}
				& .inventory-actions {
					& button {
						height: fit-content;
					}
					padding: 0 1.30em;
				}

			}
		}
    }
	& .new-inventory{
		background-color: lime;
		border-radius: 16px;
		border-bottom: 2px black solid;
		border-right: 2px black solid;
		position: absolute;
		bottom: 0;
		right: 0;
	}
	& .new-inventory:hover{
		background-color: limegreen;
		cursor: pointer;
		border: 0px;
	}
}
// * {
//   outline: auto;
// }
.inventory-new-page{
	width: calc(100% - 70px);
	float:right;
	& form{
		font-family: Oswald;
		background-color: transparentize(white, 0.4);
		border: $blue solid;
		border-radius: 40px;
		& .custom-dropdown {
			position: relative;
		  }
		  & .options {
			display: none;
			position: absolute;
			width: 100%;
			max-height: 200px;
			overflow-y: auto;
			background-color: white;
			border: 1px solid #ccc;
			z-index: 1;
		  }
		  & .option {
			display: block;
			padding: 8px 12px;
			cursor: pointer;
		  
			&:hover {
			  background-color: #f1f1f1;
			}
		}
		& .prescription-container{
			background-color: white;
			border-radius: 16px;
			border: 1px #ccc solid;
			& .prescription-select{
				display: grid;
				grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
				grid-auto-flow: column;
				& label{
					padding: 0.6em 0;
				}
			}
		}
		  
	}
}