@import "users";

.inventory_page {
	width: calc(100% - 70px);
	height: calc(100% - 140px);
	float:right;
	position: relative;
    & .inventory-container{
		& .table-container{
			& .flex-table {
				// & *{
				// 	outline: auto;
				// }
				font-family: Oswald;
				& .inventory-row, .header-row {
					border-bottom: 1px solid black;
					border-radius: 16px;
				}
				& .inventory-row {
					background-color: white;
					&:hover {
						background-color: #e1e1e1;
						cursor: pointer;
					}
				}
				& .header-row {
					background-color: $nav-lblue;
				}
				& .header-gap {
					padding-left: 12em;
				}
				& .inventory-actions {
					padding: 0 1.30em;
				}

			}
		}
    }
	& .new-item{
		background-color: lime;
		position: absolute;
		bottom: 0;
		right: 0;
		border-radius: 16px;
		border-bottom: 2px black solid;
		border-right: 2px black solid;
	}
	& .new-item:hover{
		background-color: limegreen;
		cursor: pointer;
		border: 0px;
	}
}
.inventory-new-page{
	width: calc(100% - 70px);
	height: calc(100% - 140px);
	float:right;
	& form{
		background-color: transparentize(white, 0.4);
		border: $blue solid;
		border-radius: 40px;
		& .custom-dropdown {
			position: relative;
		  }
		  
		  & .options {
			display: none;
			position: absolute;
			width: 100%;
			max-height: 200px;
			overflow-y: auto;
			background-color: white;
			border: 1px solid #ccc;
			z-index: 1;
		  }
		  
		  & .option {
			display: block;
			padding: 8px 12px;
			cursor: pointer;
		  
			&:hover {
			  background-color: #f1f1f1;
			}
		  }
		  
	}
}