@import "users";

.records-page{
	width: calc(100% - 70px);
	height: calc(100% - 140px);
	float:right;
	position: relative;
	& .records-container{
		& table{
			font-family: Oswald;
			width: 100%;
			border-collapse: separate; 
			border-spacing: 0 11px;
			& td,th{
				overflow:hidden;	
				word-break:normal;
				text-align:center;
				vertical-align: middle;
				border-color: black;
			}
			& td:first-child,th:first-child{
				border-top-left-radius: 16px;
				border-bottom-left-radius: 16px;
			}
			& td:last-child,th:last-child{
				border-top-right-radius: 16px;
				border-bottom-right-radius: 16px;
			}
			& th{
				background-color: $nav-lblue;
				position: sticky;
				top: 0
			}
			& tr:last-child{
				& .spacing{
					background-color: transparent;
					padding-bottom: 3em;
					border-color: transparent;
				}
			}
			& tr:not(:last-child){
				& td{
					background-color: white;
				}
			}
			& tr:not(:last-child):hover{
				& td{
					background-color: #d0d0d0;
				}
			}
		}
	}
	& .new-record{
		background-color: lime;
		position: absolute;
		bottom: 0;
		right: 0;
		border-radius: 16px;
		border-bottom: 2px black solid;
		border-right: 2px black solid;
	}
	& .new-record:hover{
		background-color: limegreen;
		cursor: pointer;
		border: 0px;
	}
	& .graph-container{
	}

}