
$nav-blue: #4F81BD;
$nav-lblue:#A4CDFF;
@import "init";
@font-face {
	font-family: 'TheDoctor';
	src: url('TheDoctor.ttf');
 }
 @font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(MaterialIcons-Regular.woff2) format('woff2'),
    url(MaterialIcons-Regular.woff) format('woff'),
    url(MaterialIcons-Regular.ttf) format('truetype');
}
 body{
    background-image: url("dashboardbg.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
 }

 .material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
 
.dashboard{
    overflow-y: hidden;
    height: 100%;
    position: relative;
    & .navigation{
        position: absolute;
        height: 100%;
        width: 70px;
        background-color: $nav-blue;
        transition: 300ms;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        & .profilepic{
            width: 50px;
            height: 50px;
            background-image: url("placeholder_profile.jpeg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top;
            border: $nav-lblue 5px solid;
            border-radius: 50%;
            margin: 10px auto;
            transition: 300ms;

        }
        & .nav-item{
            width: 100%;
            transition: 300ms;
            height: auto;
            margin: 10px 0px 10px 20px;
            & .item-button{
                display: flex;
                align-items: center;
                text-decoration: none;
                font-size: 1.2em;
                background: $nav-lblue;
                border-radius: 12px;
                color: black;
                margin:auto;
                margin-left: 0;
                padding: 10px;
                width: 168px;
                overflow: visible;
                transform: translateX(-200px);
                transition: 300ms;

                & .item-logo{
                	font-size:50px;
                	color: $nav-lblue;
					-webkit-text-stroke: black 2px;
                	transform: translateX(190px);
            		transition: 300ms;
                }
            }
            & .item-button:hover{
                cursor: pointer;
            }
        }
        & .nav-item:hover{
            height: fit-content;
            & .item-button{
                background: complement($nav-lblue);
            }
        }
    }
    & .navigation:hover{
        width:210px;
        & .profilepic{
            width: 178px;
            height: 128px;
            border-radius: 12px;    
        }
        & .nav-item{
            display: block;
           & .item-button{
                user-select: none;
                transform: translateX(0px);
                & .item-logo{
                	transform: translateX(0px);
                }
            }
        }
    }
}
