@import "init";
.dashboard{
    background-image: url("dashboardbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-y: hidden;
    height: 100%;
    .navigation{
        display:flex;
        justify-content: space-around;
        .item{
            background-color: $lightblue;
            width: 33%;
            height: 65px;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
    }
}
